{% extends 'base.html' %}
{% load static %}
	<head>
		<title> Coming Soon! </title>
<link rel="icon" type="image/png" sizes="16x16" href="static/img/dimaond.png" />		
	<meta name="google-site-verification" content="KPrCTIkFg3RCIWPoYvQO3QBnFcEqKflrEQI_6ztrwzE" />
	{% block styles %}
		{{ block.super }}
		<link rel='stylesheet' href="/static/css/home.css{{version}}" type='text/css'>
		<link rel='stylesheet' href="/static/css/imageviewer.css{{version}}" type='text/css'>
	{% endblock %}

	{% block scripts %}
		{{ block.super }}
		<script src='static/js/home.js'|add:version|safe %}'></script>
		<script src='static/js/imageviewer.js'|add:version|safe ></script>
	{% endblock %}
	</head>
<body>

{% block content %}
	<div class="quote" style="width:960px;margin:0 auto;padding:20px;font-size:1.2em;">
		<h2> Who we are </h2>
		Diamond School, based on Maui, teaches future technologies to kids and adults of all ages.
		<h2> What we teach </h2>
		Our subjects include programming, game design, VR, AR, AI, robotics, and blockchain. We use a project-based approach and encourage all students to become creators and collaborators.
	</div>
	<div id="starline"></div>
{% endblock %}





